#caixas{
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 30px; 
    padding: 10px;
    margin: 20px auto; 
    max-width: 900px; 
}
#urgente{
    border: 2px solid #d40808;
    border-radius: 5px;
    padding: 40px;
    width: 200px;
    height: auto;
    text-align: center;
    border-width: 7px;
}
#naourgente{
    border: 2px solid #f5ff66;
    border-radius: 5px;
    padding: 40px;
    width: 200px;
    height: auto;
    text-align: center;
    border-width: 7px;
}

